body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
      background-image: url(/images/amthucbg.png);
  }
  .swiper-container {
      position: relative;
    width: 80%;
    height: 400px;
    z-index: -9;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 50px;
  }
  .swiper-slide {
      margin-left: 20px;
      margin-right: 20px;
    width: 250px;
    height: 309px;
    position: relative;
    transform: translateY(50px);
    transition: opacity 0.3s, transform 0.3s;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.9);
    padding-bottom: 60px;
    z-index: 1;
  }
  .img-amthuc {
    margin-left: 0px;
    width: 100%;
    height: 110%;

  }
  .swiper-slide .img-amthuc {
   transition: transform 5s;
  }
  .swiper-slide:hover .img-amthuc {
          transform: scale(1.1) ;
          z-index: 1;
      }
      .container-imgcardfood {
          position: absolute;
          top:0;
          left: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          }
  .swiper-slide .tenmon {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
    background-color: rgba(251, 251, 251, 0.15);
  }
  #tenfood {
    margin-top: 250px;
    text-align: center;
    font-size: 24px;
    font-family: 'Paytone One', sans-serif;
    color: rgb(252, 181, 0);
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.9);
  }
  #logofood {
    position: absolute;
    top:10px;
    left: 6px;
  }
  #logofood img {
    width: 60px;
    height: 20px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    z-index: 10;
  }
  .swiper-button-next {
    right: 10px;
  }
  .swiper-button-prev {
    left: 10px;
  }
  .coment{
    position: relative;
    margin: 30px auto;
    width: 80%;
    min-height: 500px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    overflow-y: scroll;
  }
  .bannerfood{
    margin-top: 80px;
    position: relative;
    width: 100%;
    height: 70vh;
    background-color: #0f0e0e;
    align-items: center;
  }
  #khungslide{
    position: absolute;
    top:0%;
    left: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .container-sliderfoot{
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
    background-image: url(/images/bgslider22.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
  }
  #btntrolai button{
    position: absolute;
    top:5%;
    left: 2.5%;
    width: 50px;
    height: 40px;
    border: 0px;
    border-radius: 17px;
    box-shadow:  1px 3px 10px rgba(244, 241, 241, 0.8);
    color: rgb(255, 153, 0);
  }
  #tieudenoibatfood{
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    color: rgb(226, 14, 14);
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.9);
  }
  #fiterfood{
    position: absolute;
    top:10%;
    left: 2.5%;
    width: 95%;
    height: 80%;
    background-color:rgba(172, 169, 169, 0.2);
  }
  .container-sliderfoot {
transition: transform 3s ease-in-out;
}

.container-sliderfoot.zoomed {
transform: scale(1.1); /* Giá trị scale có thể được thay đổi để điều chỉnh mức độ phóng to */
}

.chat-container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 30%;
}

.chat-bubble {
color: rgb(236, 180, 13);
border-radius: 20px;
padding: 20px;
position:absolute;
font-size: 20px;
font-family: 'Dosis', sans-serif;
width: 60%;
top: 62%;
left: 31%;
font-style: italic;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@keyframes blink {
0% {
  opacity: 0;
}
50% {
  opacity: 1;
}
100% {
  opacity: 0;
}
}
#foodamthucviet{
color: aliceblue;
font-family: 'Dela Gothic One', cursive;
font-size: 60px;
position: absolute;
top:30%;
left: 30%;
color:#df9b08;
text-shadow: 8px 8px 10px rgba(0, 0, 0, 0.7);
}
#tieudedanhgia{
padding-top: 10px;
margin: 0 auto;
text-align: center;
font-size: 17px;
font-family: 'Carlito', sans-serif;
color: grey;
}
#thanhdofood{
  position: absolute;
  bottom: 11%;
  left: 30%;
  width: 3px;
  height: 20%;
  background-color: red;
}
#langnghetruyemthong{
  width: 100%;
  height: auto;
  background-image: url(/images/nentrongdong.webp);
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(500px);
  text-align: center;
}
#langnghetruyemthong h1{
  padding-top: 5%;
  font-size: 30px;
  color: #df9b08;
  font-family: 'Rowdies', cursive;
}
#langnghetruyemthong p{
  font-size: 10px;
  color: grey;
  font-family: 'Rowdies', cursive;
}
#lang{
  margin-top: 5vh;
  display: flex;
}
#lang1{
  width: 50%;
  height: 73vh;
  display: flex;
}
#lang1a{
  position: relative;
  margin-left: 10%;
 width: 37%;
 height: 70vh;
 border-radius: 10px;
 background-image: url(/images/lang-chieu.png);
 background-repeat: no-repeat;
 background-size: cover;
 box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
#lang1b{
  margin-left: 2%;
  width: 53%;
  height: 70vh;
  border-radius: 10px;
 
 }
 #lang1b1{
  position: relative;
  margin-left: 3%;
  width: 95%;
  height: 33vh;
  border-radius: 10px;
  background-image: url(/images/lang-quat.jpeg);
  background-repeat: no-repeat;
 background-size: cover;
 box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
 }
 #lang1b2{
  position: relative;
  margin-top: 7%;
  margin-left: 3%;
  width: 95%;
  height: 33vh;
  border-radius: 10px;
  background-image: url(/images/lang-non.jpg);
  background-repeat: no-repeat;
 background-size: cover;
 box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
 }
#lang2{
  width: 45%;
  height: 73vh;
  display: block;
}
#lang2a{
  position: relative;
  margin-left: 2%;
  border-radius: 10px;
  width: 95%;
  height: 33vh;
 background-image: url(/images/lang-huong.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
#lang2b{
  margin-top: 4%;
  margin-left: 2%;
  border-radius: 10px;
  width: 95%;
  height: 33vh;
  display: flex;
}
#lang2b1{
  position: relative;
  border-radius: 10px;
  width: 48%;
  height: 33vh;
  background-image: url(/images/lang-gom.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
#lang2b2{
  position: relative;
  margin-left: 3%;
  border-radius: 10px;
  width: 49%;
  height: 33vh;
  background-image: url(/images/lang-mam.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
#btnlessgo button{
  position: absolute;
  padding: 7px 25px;
  border: 0;
  bottom: 10px;
  right: 10px;
  font-weight: 600;
  color: white;
  background-color: rgb(11, 174, 224);
  border-radius: 5px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
#text-namelang{
  padding-top: 10px;
  padding-left: 10px;
  width: 90%;
  text-align: left;
}
#text-namelang div:nth-child(1){
  font-size: 20px;
  font-family: 'Rowdies', cursive;
  color: white;
  text-shadow: 1px 2px 3px rgba(8, 50, 199, 0.5);
}
#text-namelang div:nth-child(2){
  font-size: 12px;
  font-weight: 600;
  color: rgb(230, 15, 15);
 
}
#top4-michilin{
  width: 95%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 10%;
}
#top1{
  position: relative;

 width: 37%;
 height: 70vh;
 border-radius: 10px;
 background-image: url(/images/lang-chieu.png);
 background-repeat: no-repeat;
 background-size: cover;
 box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
#top1{
  position: relative;
  margin-top: 5%;
 width:300px;
 height: 60vh;
 border-radius: 10px;
 background-image: url(/images/micelin-gia.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
#top2{
  position: relative;
  margin-top: 5%;
  margin-left: 2%;
  width:300px;
 height: 60vh;
 border-radius: 10px;
 background-image: url(/images/michelin-anansaigon.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}#top3{
  position: relative;
  margin-top: 5%;
  margin-left: 2%;
  width:300px;
 height: 60vh;
 border-radius: 10px;
 background-image: url(/images/michelin-tamvi.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
#top4{
  position: relative;
  margin-top: 5%;
  margin-left: 2%;
  width:300px;
 height: 60vh;
 border-radius: 10px;
 background-image: url(/images/michelin-koki.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
/* ==================== */
.coment input {
  right: 21%;
  bottom: 10px;
  position: absolute;
  border: none;
  background: none;
  font-size: 15px;
  color: #222;
  width: 60%;
  height: 35px;
  box-shadow: Inset 0 1px 8px rgba(0, 0, 0, 0.55);
  border-radius: 10px;
  text-indent: 10px;
}
.coment input::placeholder {
  color: #555;
  transition: all 0.3s ease;
}
#btncoment{
  right:0%;
  bottom: 10px;
  width: 20%;
  position: absolute;
  display: flex;
}
#btncoment button{
  margin-left: 10px;
  border: 0px;
  border-radius: 7px;
  width: 40px;
  height: 40px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}


